﻿@model Test_project.Models.CreateDocumentViewModel

@{
    ViewBag.Title = "Create document";
}

<h1>Create document</h1>

<div  class="row">
    @using (Html.BeginForm("Create", "Document",FormMethod.Post, new { enctype = "multipart/form-data" })) {
        <div  class="col-lg-6">
            
            <div>
                    <b>Title:</b><br>
                    <input type="text" name="Title" size="40">
            </div>
            <div>
                    <b>Description:</b><br>
                    <input type="text" name="Description" size="40">
            </div>
            <br />
            <div>
                    <input type="file" name="file" />
                    <br />
                    <input type="submit" id="submit_id" />
            </div>

        </div>
        <div  class="col-lg-6">
            <table class="table table-striped table-hover" >
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>User Name</th>
                    </tr>
                </thead>
                <tbody id="body_checks">
                    <tr>
                        <td><input type="checkbox" id="select_all" /></td>
                    </tr>
                    @if(Model.Users!=null){
                        foreach (var t in Model.Users)
                        {
                        <tr>
                            <td>
                                <input type="checkbox" id="checkbox" name="Checkboxes" value="@t"/></td>
                               <td>
                                    <div>@t</div>
                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table> 
        </div>
        }
</div>

@section scripts{
    <link rel="stylesheet" type="text/css" href="/Content/Web/Document/Create.css" />
    <script src="~/Scripts/Document/Create.js"></script>
        
}