﻿@model IEnumerable < Test_project.Models.Assignment >
@{
    ViewBag.Title = "ShowDocumentStatus";
}

<link href="~/Content/pie-chart.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/Content/Web/Home/Index.css" />

<h2>ShowDocumentStatus</h2>


<div class="row" >
    @{
        var Read = Model.Count(a => a.DocType == Test_project.Models.DocumentType.Read);
        var Unread = Model.Count(a => a.DocType == Test_project.Models.DocumentType.Unread);
        var ReadPercent = (int)(Math.Round(Read * 1.0 / (Read + Unread),2) * 100);
        var UnreadPercent = 100 - ReadPercent;
        if(ReadPercent == 100)
        {
            ReadPercent = 99;
            UnreadPercent = 1;
        }
        if (UnreadPercent == 100)
        {
            ReadPercent = 1;
            UnreadPercent = 99;
        }
     }
    <div class="col-lg-3 col-lg-offset-6" >
        <ul data-pie-id="my-cool-chart" data-options='{"donut": "true"}'>
            <li data-value="@ReadPercent">Read</li>
            <li data-value="@UnreadPercent">Unread</li>
        </ul>
    </div>
    <div class="col-lg-3">
        <div id="my-cool-chart"></div>
    </div>
</div>




<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>User</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var n in Model)
        {
           
            <tr>
                <td>@n.Doc.Title</td>
                <td>@n.Doc.Description</td>
                <td>@n.DocType.ToString()</td>
                <td>@n.AppUser.UserName</td>
                
            </tr>
            
        }
    </tbody>
</table>



@section scripts
{
    <script type="text/javascript" src="//cdn.jsdelivr.net/snap.svg/0.1.0/snap.svg-min.js"></script>
    <script src="~/Scripts/pie-chart.js"></script>

}

