﻿#div1{
  height: 500px;
  width: 45%;
  border: solid 1px #000000;
  float: left;
}
#div2{
  height: 500px;
  width: 90%;
  border: solid 1px #000000;
 
}

#div1, #div2 {
    -webkit-box-sizing: border-box;  
    -moz-box-sizing: border-box;  
    box-sizing: border-box;   
}

