﻿@{
    ViewBag.Title = "About";
}
<h2></h2>
<h3>Работа с приложением </h3>

<p>1. Зарегистрируйтесь</p>
<p>2. Если вам назначались документы, то вы их увидите при входе в аккаунт или выбрав вкладку Document List, нажав на документ вы можете его скачать и просмотреть, нажав на статус документа вы можете его изменить</p>
<p>3. Нажав на кладку Create Document вы можете создать документ и назначить его пользователям</p>
<p>4. Нажав на кладку My Documents вы можете просмотреть список назначенных вами документов другим пользователям, если вы в этой вкладке нажмёте на документ, то можете увидеть статус его освоения другими пользователями, с графическим отображением</p>