﻿@model IEnumerable<Test_project.Models.Assignment>

@{
    ViewBag.Title = "Home Page";
}

    <h1></h1>

    
 
<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Document</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var n in Model)
        {
        <tr>
            <td>@n.Doc.Title</td>
            <td>@n.Doc.Description</td>
            <td>@Html.ActionLink(n.Doc.PathFile, "DownloadFile", new { name = n.Doc.Title, path = n.Doc.PathFile }, new { });</td>
            <td>@Html.ActionLink(n.DocType.ToString(),"ChangeStatus","Document",new { assignmentId = n.Id}, new { })</td>
        </tr>
        }
    </tbody>
</table> 
        
    

@section scripts
{
    <link rel="stylesheet" type="text/css" href="~/Content/Web/Home/Index.css" />
}